.cal-topic {
  margin: 20px;
  color: #525764;
  font-family: Quicksand;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

.cal-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.cal-product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.cal-product-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cal-product-image img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.cal-product-details {
  margin-left: 20px;
}

.cal-product-details h3 {
  margin: 0;
  color: #525764;
  font-family: Muli;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14px;
}

.cal-product-details p {
  margin-bottom: 5px;
  color: #37383d;
  font-family: Muli;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
}

.cal-quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  overflow: hidden;
  color: #7f7f7f;
  font-family: "Gotham Rounded";
  line-height: 16px;
}

.cal-quantity-control button {
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cal-quantity-control span {
  font-size: 13px;
  text-align: center;
}

.cal-quantity-control button,
.cal-quantity-control span {
  padding: 5px;
  width: 30px;
  height: 30px;
  flex: 1;
  text-align: center;
  border-right: 1px solid #d8d8d8;
}

.cal-quantity-control button:last-child,
.cal-quantity-control span:last-child {
  border-right: none;
}

.cal-product-remove {
  display: flex;
  margin: 5px 0 0 10px;
  font-size: 14px;
}

.cal-product-remove p {
  color: #5eafd3;
  font-family: Muli;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14px;
  cursor: pointer;
}

.cal-best-price-button {
  margin: 15px;
  height: 40px;
  width: 280px;
  background: #24dac6;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 16px;
  text-align: center;
}
